go 1.25.0

use (
	./pkg
	./services/customer-management
	./services/demo-ui/bff
	./services/party-management
	./services/pocv
	./services/product-catalog-management
	./services/qualification
	./services/shopping-cart
	./tests/e2e
)
